[Unit]
Description=Hotspot 4G bring-up
After=network.target remote-fs.target syslog.target time.target
After=wm8960-soundcard.service
ConditionPathIsExecutable=/usr/sbin/hotspot-4g

[Service]
Type=oneshot
ExecStart=/usr/sbin/hotspot-4g
RemainAfterExit=yes
TimeoutStartSec=300
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
